<!DOCTYPE html>
<html>
  <head>
    <title>Mudahmudahanbisa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav" style="margin-bottom:500">
        <li class="nav-item">
            <a class="nav-link"><%= link_to 'Home', root_path, :class=>"nav-link" %></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"><%= link_to 'Articles',  articles_path, :class=>"nav-link" %></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"><%= link_to 'New Article',  new_article_path, :class=>"nav-link" %></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"><%= link_to 'Contact Us', contacts_index_path, :class=>"nav-link"%></a>
        </li>    
        </ul>
    </div>  
    </nav>
    <%= yield %>
  </body>
</html>
